body{
    background-color: rgba(98, 83, 83, 0.735);
}

.titre {
    color:red;
    text-align:center;
    font-size: 40px;
}


#Nom{
    color:rgba(24, 11, 164, 0.758);
    text-align: center;
}

#def {
    color: brown;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#sous-nom {
    color: rgb(15, 113, 84);
    text-align: center;

}

#image {
    display: block;
    margin:auto
}

.fin {
    color: black;
    font-size: 25px;
}